
/*
   Instagram 
      background blue is #3a6890
      text blue is #012a55
      nav link blue is #5d88aa
      home button gradient: top  #6993b3 to bottom  #42749c;
      copyright text #a8a8a8
*/

body {
   background: #fff url("../images/bgtile.png") repeat-x;   
   height: 100%;
   margin: 0;
   font-family: 'Cabin', Helvetica, Arial ,sans-serif;
   font-size: 16px;
   font-weight: 100;
   line-height: 1.5;
}

h1 {
   color: #012a55;
   font-weight: 600;
}

ul {
   list-style: none;
   text-transform: uppercase;
}

li {
   display: inline-block;
   margin: 0 10px;
}

a {
   text-decoration: none;
   color: #3a6890;
}

a:hover {
   text-decoration: none;
   color: #3a6890;
}

a:visited {
   text-decoration: none;
   color: #3a6890;
}

footer {
   font-size: 12px;
   font-weight: 900;
   text-align: center;
}

#container {
   /* background: linear-gradient(0deg, #fff 50%, #3a6890 50%); */
   margin: 55px auto 0 auto;
   width: 900px;
}

#contentBox {
   float: left;
   width: 400px;
   clear: left;
}

#phoneBox {
   float: left;
   width: 320px;
}

#logo {
   float: left;
   width: 314;
}

#wordyBox {
   float: left;
   width: 360px;
   background: url("../images/frame.png");
   padding: 5px 30px;
   /* border-radius: 5px;
   box-shadow: 2px 2px 4px #555; */
}

#login {
   color: #e4ebf1;
   text-shadow: 2px 2px 4px #555;
   border: 2px solid #5d88aa;
   border-radius: 5px;
   background: linear-gradient(#6993b3, #42749c) ;
   float: left;
   width: 80px;
   /*height: 34px; */
}

#copyright {
   color: #eee;
}