
body {
   height: 100%;
   margin: 0;
   font-family: 'Hind Vadodara','Helvetica Neue',Helvetica,Arial,sans-serif;
   font-size: 16px;
   font-weight: 300;
   line-height: 1.12
   color: #3a6890;
}

h1 {
   color: #012a55;
   font-weight: 900;
   line-height: 1.3;
}

strong {
   font-weight: 900;
}

ul {
   list-style: none;
   text-transform: uppercase;
}

li {
   display: inline-block;
   margin: 0 10px;
}

a {
   text-decoration: none;
   color: #3a6890;
}

a:hover {
   text-decoration: none;
   color: #3a6890;
}

a:visited {
   text-decoration: none;
   color: #3a6890;
}

footer {
   float: static;
   clear: left;
   font-size: 12px;
   font-weight: 900;
   text-align: center;
   margin: 0 auto;
   padding: 30px;
}

#gradient {
   background-color: #fff;
   background-image: linear-gradient(0deg, #fff 62%, #3a6890 38%);
}

#container {
   margin: 0 auto;
   padding: 95px 0 0 0;
   width: 960px;
}

#phoneBox {
   float: left;
   width: 320px;
   margin: 0 20px 0 0;
}

#logo {
   float: left;
   width: 314;
   margin: 15px 50px 0 20px;
}

#wordyBox {
   float: left;
   width: 445px;
   background: url("../images/frame.png") no-repeat;
   padding: 5px 30px;
   margin: 15px 0 0 20px;
}

#greedyBox {
   float: left;
   width: 445px;
   margin: 0 50px;
}

#greedyBox img {
   float: left;
   width: 165px;
   margin-right: 30px;
   margin-top: 10px;
}

#login {
   color: #e4ebf1;
   text-shadow: 2px 2px 4px #555;
   border: 2px solid #5d88aa;
   border-radius: 3px;
   background: linear-gradient(#6993b3, #42749c) ;
   float: left;
   width: 98px;
   height: 31px;
   padding: 3px;
   margin-top: 35px;
   margin-left: 23px;
}

#login img {
   position: relative;
   left: 6px;
   top: 5px;
}

#loginText {
   margin-left: 12px;
}

#copyright {
   color: #eee;
}